@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.azul_textos{
    color:#00559b;
}

.bc-body{
    background-color: #f2f2f2;
}

.toggle-checkbox:checked {
    @apply: right-0 border-green-400;
    right: 0;
    border-color: #68D391;
  }
  .toggle-checkbox:checked + .toggle-label {
    @apply: bg-green-400;
    background-color: #68D391;
  }

@media print {
    .no-print{
        display: none;
    }

   #div_imprimir{
       display: block;
       background-color: white!important;
   }

 }

